apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        # Forward to host's DNS resolver (mounted from host /etc/resolv.conf)
        # This allows access to VPN-accessible hostnames
        forward . /etc/resolv.conf.host {
           max_concurrent 1000
        }
        cache 30
        loop
        reload
        loadbalance
    }

